//Default
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: white;
}

body {
  padding-top: 100px;
  background-color: #141414 !important;
}

//Sections
.section {
  padding-top: 20px;
}

.flag {
  width: 40px;
}
