//Default
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
}

body {
  padding-top: 80px;
  background-color: black !important;
}

.section {
  padding-top: 20px;
}

.poster {
  border-radius: 10px;
}
